<html>
<head>
   <title>Game Recommender</title>
  <!-- <link rel="stylesheet" type="text/css" href="style.css"/>-->
</head>
<body>
    <h3>Select Three Games</h3>
    {% if not feedback.empty %}
        <h2>Thanks for the feedback!</h2>
    {% endif %}
    {% if not games.empty %}
        <form action="{% url 'results' %}" method="post">
        {% csrf_token %}
            <input list="games" name="game1" id="game1">
            <datalist id="games">
            {% for game in games %}
                <option value="{{ game }}">
            {% endfor %}
            </datalist>
            <select type="select" name="attribute1" multiple>
                <option value="artist">Art</option>
                <option value="composer">Music</option>
                <option value="designer,director,developmentStudio">Overall Game</option>
                <option value="programmer">Gameplay</option>
                <option value="videoGameGenre">Genre</option>
                <option value="writer">Story</option>
            </select>
            <br />
            <input list="games" name="game2" id="game2">
            <datalist id="games">
            {% for game in games %}
                <option value="{{ game }}">
            {% endfor %}
            </datalist>
            <select type="select" name="attribute2" multiple>
                <option value="artist">Art</option>
                <option value="composer">Music</option>
                <option value="designer director developmentStudio">Overall Game</option>
                <option value="programmer">Gameplay</option>
                <option value="videoGameGenre">Genre</option>
                <option value="writer">Story</option>
            </select>
            <br />
            <input list="games" name="game3" id="game3">
            <datalist id="games">
            {% for game in games %}
                <option value="{{ game }}">
            {% endfor %}
            </datalist>
            <select type="select" name="attribute3" multiple>
                <option value="artist">Art</option>
                <option value="composer">Music</option>
                <option value="designer,director,developmentStudio">Overall Game</option>
                <option value="programmer">Gameplay</option>
                <option value="videoGameGenre">Genre</option>
                <option value="writer">Story</option>
            </select>
            <br />
            <input type="submit" value="GO">
        </form>
    {% endif %}
</body>
</html>
