<html>
<head>
   <title>Game Recommender</title>
  <!-- <link rel="stylesheet" type="text/css" href="style.css"/>-->
</head>
<body>
    <h3>Select Three Games</h3>
    {% if not games.empty %}
        <form action="{% url 'results' %}" method="post">
        {% csrf_token %}
            <input list="games" name="game1" id="game1">
            <datalist id="games">
            {% for game in games.keys %}
                <option value="{{ game }}">
            {% endfor %}
            </datalist><br />
            <input list="games" name="game2" id="game2">
            <datalist id="games">
            {% for game in games.keys %}
                <option value="{{ game }}">
            {% endfor %}
            </datalist><br />
            <input list="games" name="game3" id="game3">
            <datalist id="games">
            {% for game in games.keys %}
                <option value="{{ game }}">
            {% endfor %}
            </datalist><br />
            <!--<input type="text" name="subclass"><br />-->
            <input type="submit" value="GO">
        </form>
    {% endif %}
</body>
</html>
