<html>
<head>
   <title>Game Recommender</title>
  <!-- <link rel="stylesheet" type="text/css" href="style.css"/>-->
</head>
<body>
    <h3>Select Three Games</h3>
    <form action="{% url 'results' %}" method="post">
    {% csrf_token %}
        <input list="games" name="game" id="game1">
        <datalist id="games">
            <option value="FIFA">
            <option value="Uncharted">
            <option value="Wolfenstein">
        </datalist><br />
        <input list="games" name="game" id="game2">
        <datalist id="games">
            <option value="FIFA">
            <option value="Uncharted">
            <option value="Wolfenstein">
        </datalist><br />
        <input list="games" name="game" id="game3">
        <datalist id="games">
            <option value="FIFA">
            <option value="Uncharted">
            <option value="Wolfenstein">
        </datalist><br />
        <input type="text" name="subclass"><br />
        <input type="submit" value="GO">
    </form>
</body>
</html>
